html {
    font-family: sans-serif;
    background: #fff;
}

body {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 1em auto;
    padding: 0 1em;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 7px;
}

nav {
    float: left;
    min-height: 7000px;
    margin-left: -1em;
    margin-right: 2em;
    padding: 0 1em;
    border-right: 1px solid #f0f0f0;
}

nav ul {
    list-style-type: none;
}

nav > ul {
    list-style-type: none;
    padding-left: 0;
}

nav > ul > li {
    margin-bottom: .5em;
}

nav ul ul {
    margin-top: .125em;
    padding-left: 15px;
}

section {
    overflow: hidden;
    padding-top: .5em;
    border-top: 1px solid #f0f0f0;
}

section:first-child {
    padding-top: 0;
    border-top: none;
}

h1:first-of-type {
    margin-top: .25em;
}

table {
    background: #bbb;
}

th {
    white-space: nowrap;
}

th, td {
    padding: 0 .5em;
}

td {
    background: #fff;
}

td div {
    margin-top: .125em;
    font-family: sans-serif;
    font-size: .9em;
    font-size: 1rem;
    color: #333;
}

td:first-child, td:nth-child(2) {
    font-family: monospace;
    font-size: 1.1em;
}

h3 {
    font-family: monospace;
    padding-top: 1em;
    border-top: 1px solid #bbb;
}

section h1 a:last-child, section h2 a:last-child, section h3 a:last-child {
    display: none;
    color: #999;
    text-decoration: none;
}

section h1:hover a:last-child, section h2:hover a:last-child, section h3:hover a:last-child {
    display: inline;
}
